{% extends 'main/main_layout.html' %}

{% block content %}
    <h1 style="margin: 20px auto; width: 30vw; text-align: center; border-bottom: 2px solid #1c1c1c;">{{ title }}</h1>
    <div class="box">
        <h4 style="text-align: center;">Title: {{ data.name }}</h4>
        <p>Company: {{ data.company }}</p>
        <p>Salary: {{ data.salary }}</p>
        <p>Skill: {{ data.skill }}</p>
        <p>Duty: {{ data.duty }}</p>
        <p>Address: {{ data.address }}</p>
        <p>Employer: {{ data.user.username }}</p>
        <p style="text-align: end"><a href="{% url 'main_page' %}">Back</a></p>
    </div>
{% endblock %}
